<!-- PAGE WITH THE FORM TO MAKE / SUBMIT A NEW QUIZ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>QuizWiz - New Quiz</title>

  <link rel="icon" href="/docs/abstract-elephant-svgrepo-com.svg?v=2" />

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- EXTERNAL STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">


  <!-- OUR STYLESHEETS -->
  <link rel="stylesheet" href="/styles/all.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <!-- SCRIPTS-->
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

=======
  <head>
    <title>QuizWiz - New Quiz</title>

    <link rel="icon" href="/docs/elephantColor.png?v=2" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- EXTERNAL STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link href="https://fonts.cdnfonts.com/css/apercu-pro" rel="stylesheet" />

    <!-- OUR STYLESHEETS -->
    <link rel="stylesheet" href="/styles/all.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />

    <!-- SCRIPTS-->
    <script src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <form method="POST" action="/quiz/new">
      <label for="question1">Question 1</label>
      <input type="text" name="email" value=""/>
      <label for="answer1">Answer 1</label>
      <input type="text" name="answer1" value=""/>
      <label for="answer2">Answer 2</label>
      <input type="text" name="answer2" value=""/>
      <button type ="submit">Add question</button>
      <button type ="submit">Submit Quiz</button></form>
    </form>


    <%- include('partials/_footer') %>
  </body>
</html>
