main {
  margin: 13rem auto 0;
  height: calc(100vh - 10rem - 6rem);
  padding: 1em;
}

#quiz_sort {
  margin: 17vh auto 0 auto;
  appearance: none;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  width: 65%;
  top: 1vh;
  padding: 1vh;
  border: none;
  border-radius: 25px;
  color: #262627;
  background-color: #F7F5F3;
  text-align: center;
  box-shadow: 4px 4px 6px #bab5bac7;
  transition: all 0.2s ease-in-out;
}

#quiz_sort:hover {
  transform: scale(1.03);
}

select {
  background-image: url("../docs/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 2vh;
  background-position: 98%;
}