main {
  width: 80%;
  margin: 10rem auto 0;
  height: calc(100vh - 10rem - 6rem);
  padding: 1em;
  font-weight: normal;
  color: #262627;
  text-shadow: 0.5px 0.5px 3px #70798C;
}
main #error {
  color: white;
  background: none;
  background-color: #FC0106;
  margin: 0.7rem auto;
  padding: 1rem;
}

.quiz_details {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.quiz_details .description {
  font-style: italic;
  margin-bottom: 1rem;
}

h1 {
  margin: 0.1em 0 0.2em 0;
  padding: 0.1em 1.5em;
  color: #262627;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #c9cae2 inset;
}

.description, .author {
  margin-bottom: 0.5em;
}

.quiz_submit {
  border-radius: 25px;
  color: #262627;
  background-color: #F7F5F3;
  text-align: center;
  box-shadow: 4px 4px 6px #bab5bad1;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(50deg, #262627 60%, #70798C 80%, #262627 90%);
}

#quiz_submit:hover {
  transform: scale(1.1);
}

.quiz_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.quiz_container {
  width: 100%;
  height: calc(100% - 6em);
  padding: 1em;
}

.question_card li input:hover {
  cursor: pointer;
}
.question_card li input:checked {
  accent-color: #262627;
}
.question_card li:hover {
  cursor: pointer;
  background-color: #70798C;
  color: white;
}