.quiz_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  width: 95%;
  margin: 0 auto 1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 3px 6px #bab5bac7;
  overflow-wrap: break-word;
  background-color: #FAF5F0;
}
.quiz_card header, .quiz_card footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8em 2em;
  align-items: center;
}
.quiz_card header {
  background-color: #D4CAA3;
  color: #262627;
  border-radius: inherit;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.quiz_card footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.quiz_card a {
  text-decoration: none !important;
  color: inherit !important;
  width: 100%;
  border-radius: inherit;
}
.quiz_card .quiz_description {
  padding: 1em 2em;
  font-style: italic;
}

.quiz_card:hover {
  box-shadow: 10px 10px 10px #bab5bac7;
}

.info_body header {
  height: 15%;
  font-size: 0.9em;
}
.info_body .quiz_card_main {
  width: 100%;
  border-radius: inherit;
  align-items: center;
}
.info_body button {
  overflow: auto;
  border: 5px solid #F7F5F3;
  border-radius: 25px;
  background-color: #F7F5F3;
  padding: 0.4em;
  color: #262627;
  transition: all 0.2s ease-in-out;
  box-shadow: 6px 6px 8px #bab5bac7;
  font-weight: 500;
  text-align: center;
}
.info_body .footer_left {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}
.info_body .quiz_stats {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em 1.5em;
  margin: 0 auto;
}
.info_body .quiz_links {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 0em 3em 0.5em 3em;
}
.info_body .quiz_links button {
  display: flex;
  align-items: center;
  padding: 0.4em;
}
.info_body .score, .info_body .questions, .info_body .attempts {
  background-color: #E6E8E6;
  border: 5px solid #E6E8E6;
}
.info_body .results {
  background-color: #D6EFD2;
  border: 5px solid #D6EFD2;
}
.info_body .delete {
  background-color: #E66069;
  border: 5px solid #E66069;
}
.info_body .public {
  background-color: #FFFCF9;
  border: 5px solid #FFFCF9;
}
.info_body .copy_quiz_btn {
  display: inline-flex;
  align-items: center;
}
.info_body .results:hover, .info_body .public:hover, .info_body .delete:hover, .info_body .copy_quiz_btn:hover, .info_body .copy_results_btn:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5x #bab5bac7;
}
.info_body .copy_input {
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #bab5bac7 inset;
  margin-left: 5px;
  padding: 0.2em 0.5em;
  cursor: copy;
}
.info_body footer {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
}