.question-card {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  margin: 0 auto 0;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.question-card h1 {
  width: 100%;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.5em 0;
  background-color: #F7F5F3;
  box-shadow: 0px 4px 6px #bab5bac7;
  color: #262627;
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#quiz_form {
  display: flex;
  flex-flow: column;
  width: auto;
  overflow-y: auto;
  margin: 0 auto;
  height: 60vh;
  padding: 1em 1em 1em 1em;
}
#quiz_form button {
  overflow: auto;
  border: 5px solid #F7F5F3;
  border-radius: 25px;
  background-color: #F7F5F3;
  padding: 0.4em;
  color: #262627;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 7px #bab5bac7;
  font-weight: 500;
  text-align: center;
}
#quiz_form button:hover {
  transform: scale(1.1);
}

form::-webkit-scrollbar {
  display: none;
}

main:hover {
  box-shadow: 5px 5px 10px #70798C;
}

#quiz_form fieldset {
  background-color: #FAF5F0;
  border: none;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

#quiz_form fieldset:hover {
  box-shadow: 3px 3px 5px #70798C;
  border-radius: 25px;
}

fieldset legend {
  background-color: #AEA798;
  color: #262627;
  float: left;
  padding: 0.5rem 0;
  margin-bottom: 0.3rem;
  border-radius: inherit;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 2px 2px 2px #bab5bac7;
  border-radius: 25px;
  font-weight: 700;
}

.question_form, .quiz_details {
  padding: 0;
}

.question_form_main {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: normal;
  color: #262627;
  gap: 1.5rem;
  border-radius: 25px;
}

input[type=text], textarea {
  border-radius: 25px;
  padding: 12px 20px;
  border: none;
  resize: none;
  box-shadow: 4px 4px 6px #bab5bac7;
  color: #262627;
}

input[type=text]::placeholder {
  opacity: 0.5;
  padding-left: 1rem;
  padding-top: 0;
  color: #262627;
}

textarea::placeholder {
  opacity: 0.5;
  padding-left: 1rem;
  padding-top: 0;
  color: #262627;
}

.answer_container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
  gap: 7px;
}

.answer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5em;
  width: 45%;
}

.answer input {
  cursor: pointer;
}

.answer input[type=text] {
  width: 65%;
}

.question_form_foot {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.form_foot {
  display: flex;
  flex-direction: row;
}

.add_answer {
  background-color: #29b68d;
}

#form_foot {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0 1.5em 0;
}

#form_foot button {
  padding: 0.5em;
  font-size: 1em;
}

.correct {
  background-color: #29b68e64;
}

.error_message {
  border-radius: 6px;
  background-color: #EA9234;
  width: 80%;
  margin: 10px auto;
  padding: 0.5em;
  box-shadow: 1px 1px 1px #bab5bac7;
  border-radius: 25px;
}
.error_message p {
  text-align: center;
  color: #f3efe7;
}

.invalid {
  border: solid #ff5964 2px !important;
}

label[for=quiz_private] {
  margin-top: 0.2em;
}

.public_private {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  gap: 1.5em;
}

.public_private > div {
  display: flex;
  flex-direction: row nowrap;
  gap: 0.5em;
}

.quiz_details p {
  font-style: italic;
  font-size: 0.9em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

article {
  display: flex;
  padding: 5em 10em;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

article div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

article div p {
  text-align: center;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

i {
  font-style: normal;
}

.copy_buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2em;
  margin-top: 1.2em;
}

.confirmation {
  height: 50vh;
}

article h3 {
  color: #262627;
  font-size: 1.2em;
}

.quizlink_button {
  background-color: #262627;
}

.resultslink_button {
  background-color: #29b68d;
}

.link {
  display: none;
}

.copied {
  background-color: #29b68d;
}

.results_link, .quiz_link {
  border: none;
  border-radius: 3px;
}

.c_b {
  overflow: auto;
  border: 5px solid #FFFCF9;
  border-radius: 25px;
  background-color: #FFFCF9;
  padding: 0.4em;
  color: #262627;
  transition: all 0.2s ease-in-out;
  box-shadow: 6px 6px 8px #bab5bac7;
  font-weight: 500;
  text-align: center;
}

.c_b:hover {
  transform: scale(1.05);
}

.copy_input {
  border: none;
  border-radius: 25px;
  box-shadow: 2px 2px 4px #bab5bac7 inset;
  margin-left: 5px;
  padding: 0.2em 0.5em;
  cursor: copy;
}

.quiz_container {
  display: flex;
  margin: 5vh auto;
}