.quiz_container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 90%;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
  border-top: 4px solid #F7F5F3;
  border-bottom: 4px solid #F7F5F3;
  border-left: 4px solid #F7F5F3;
  border-right: 4px solid #F7F5F3;
  border-radius: 25px;
  margin: 10vh auto 2vh auto;
}

.quiz_container:hover {
  box-shadow: 4px 4px 4px #bab5bac7;
}

.quiz_container::-webkit-scrollbar {
  display: none;
}