//scss variables to use in the other scss files

//fonts
$font: 'Quicksand', sans-serif;
$font2: 'Lato', sans-serif;

//sizes
$navHeight: 8rem;
$footHeight: 6rem;

//colours
$mainThemeColour: #262627;
$secondaryThemeColour: #70798C;
$complThemeColour: #29b68d;
$bgColour: #f3efe7;
$bgColour2: #e3ddcf;
$correctColour: $complThemeColour;
$incorrectColour: #ff5964;
$errorColour: #FC0106;
$blue: #1d89ff;
