//scss variables to use in the other scss files

//fonts
$contentFont: "Apercu Pro", sans-serif;

//sizes
$navHeight: 8rem;
$footHeight: 6rem;

//colours
$mainThemeColour: #262627;
$secondaryThemeColour: #70798C;
$complThemeColour: #AACFC8;
$complThemeColour2: #03997B;
$bgColour: #f3efe7;
$correctColour: $complThemeColour;
$incorrectColour: #EBADAD;
$errorColour: #FC0106;
