//scss variables to use in the other scss files

//fonts
$font: 'Quicksand', sans-serif;
$font2: 'Lato', sans-serif;

//sizes
$navHeight: 10vh;
$footHeight: 6vh;
$mainHeight: 75vh;

//colours
$mainThemeColour: #262627;
$secondaryThemeColour: #70798C;
$complThemeColour: #29b68d;
$complThemeColour2: #29b68e64;
$bgColour: #f3efe7;
$bgColour2: #e3ddcf;
$bgColour3: #F7F5F3;
$bgColour4: #DAD2BC;
$bgColour5: #F1EDE5;
$bgColour6: #F7F3E3;
$correctColour: $complThemeColour;
$incorrectColour: #ff5964;
$errorColour: #FC0106;
$blue: #1d89ff;
$shadow: #bab5bad1;
$caution: #EA9234;



//mixins
@mixin button-base-style {
  border: none;
  border-radius: 10px;
  margin: 0.7em auto;
  padding: 1em;
  color: white;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  box-shadow: 2px 2px 4px #31313b7f;
}

@mixin primary-gradient {
  background: linear-gradient(50deg, $mainThemeColour 60%, $secondaryThemeColour 80%, $mainThemeColour 90%);
}

@mixin copy-text-styling {
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #31313b7f inset;
  margin-left: 5px;
  cursor: copy;
}
