@use 'base';
@import 'base';

header {
  background: base.$bgColour2;
  color: base.$mainThemeColour;
}

nav {
  font-family: base.$headerFont;
  font-weight: 700;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 10vh;
    width: 100%;
    padding: 1.5em;
    font-size: 1.1em;

    .test-user-name {
      padding-left: 0.5em;
      font-weight: 500;
    }

    .right-nav,
    .left-nav {
      display: inline-flex;
      list-style: none;
      flex-wrap: wrap;

      a.new-quiz:hover {
        color: base.$blue;
        transition: all 0.2s ease-in-out;
        overflow: auto;
      }
      a.test-user-name:hover {
        color: base.$red;
        transition: all 0.2s ease-in-out;
        overflow: auto;
      }
      li {
        margin: 0.5em;
      }
    }
  }
}

.logo {
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0em;
  padding: 0.2em;
  font-family: base.$headerFont;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;

  p {
    color: base.$mainThemeColour;
  }

}


a:visited,
a:link,
a:active {
  text-decoration: none;
  color: base.$mainThemeColour;
}




/* Animation Sizing*/
.waves {
  position: relative;
  width: 100%;
  height: 5vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}
