@use 'base';

main {
  margin: base.$navHeight;
  height: base.$mainHeight;
}

#quiz_sort {
  appearance: none;
  cursor: pointer;
  position: absolute;
  margin: 17vh auto 0 auto;
  left: 0;
  right: 0;
  width: 65%;
  top: 1vh;
  padding: 1vh;
  border-radius: 25px;
  border: none;
  background-color: base.$bgColour3;
  text-align-last: center;
  color: base.$mainThemeColour;
  box-shadow: 4px 4px 6px base.$shadow;
  transition: all 0.2s ease-in-out;
}

#quiz_sort:hover {
  transform: scale(1.05);
}


select {
  background-image: url("../docs/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 2vh;
  background-position: 98%;
}
