@use 'base';

main {
  margin: calc(base.$navHeight + 3rem) auto 0;
  height: calc(100vh - base.$navHeight - base.$footHeight);
  padding: 1em;
}

#quiz_sort {
  appearance: none;
  cursor: pointer;
  position: absolute;
  margin: base.$navHeight auto 0 auto;
  left: 0;
  right: 0;
  width: 65%;
  top: 1vh;
  padding: 1vh;
  border: none;
  @include button-style;
  border-radius: 25px;
  color: $mainThemeColour;
  background-color: $bgColour3;
  text-align: center;
  box-shadow: 4px 4px 6px $shadowColour;
  transition: all 0.2s ease-in-out;
}

#quiz_sort:hover {
  transform: scale(1.03);
}


select {
  background-image: url("../docs/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 2vh;
  background-position: 98%;
}
