@use 'base';


.login-form, .register-form {
  width: 80%;
  margin: base.$navHeight auto 0;
  height: 50vh;
  padding: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4vh;
    margin-bottom: 0.5em;
  }

  form {
    display: flex;
    flex-flow: column;
    max-width: 20em;
  }

  button {
    overflow: auto;
    border-top: 4px solid base.$bgColour3;
    border-bottom: 4px solid base.$bgColour3;
    border-left: 4px solid base.$bgColour3;
    border-right: 4px solid base.$bgColour3;
    border-radius: 25px;
    margin: 1vh auto 2vh auto;
    background-color: base.$bgColour3;
    color: base.$mainThemeColour;
    box-shadow: 5px 5px 7px base.$shadow;
    transition: all 0.2s ease-in-out;
    width: 5em;
    font-size: 1.5vh;
    text-align: center;
  }

  button:hover {
    transform: scale(1.1);
  }

  input:focus {
    border: 3px solid base.$shadow
  }

  input {
    width: 15em;
    height: 2em;
    border-radius: 25px;
    margin-bottom: 1em;
    text-align: center;
  }


  .error {
    max-width: 20em;
    background-color: base.$errorColour;
    color: white;
    border-radius: 6px;
    padding: 0.5em;
    margin: 0.5em 0;
  }
}


