@use 'base';
@import 'base';

main {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  margin: 2vh auto 2vh auto;
  width: 90%;
  padding: 1em;
  height: 78vh;
}

.attempt_header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  .description {
    font-style: italic;
    margin-bottom: 1rem;
  }
}

h1 {
  margin: 0.1em 0 0.2em 0;
  padding: 0.1em 1.5em;
  color: base.$mainThemeColour;
  border-radius: 25px;
  box-shadow: 4px 4px 8px base.$shade;
  background-color: base.$bgColour6;

}

.description, .author {
  margin-bottom: 0.5em;
}

#quiz_try, .c_b {
  @include button-style-2;
}

#quiz_try:hover, .c_b:hover {
  transform: scale(1.1);
}


.copy_input {
  @include copy-text-styling;
}

.attempt_foot {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.attempt_results {
  margin: 0.1em 0 0.2em 0;
  padding: 0.5em 1.5em;
  color: base.$mainThemeColour;
  border-radius: 25px;
  box-shadow: 4px 4px 8px base.$shade;
  background-color: base.$bgColour3;
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2px;
  margin-bottom: 1rem;
  text-shadow: none;
  font-weight: 500;
}

.quiz_container {
  margin: 1vh auto;
  padding-top: 1em;
  width: 100%;

  li.correct {
    background-color: base.$correctColour;
    color: white;
    text-shadow: none;
  }

  li.incorrect {
    background-color: base.$incorrectColour;
    color: white;
    text-shadow: none;
  }
}
