@use 'base';
@import 'base';

main {
  margin: 2vh auto 2vh auto;
  width: 90%;
  padding: 1em;
  height: 78vh;
  font-weight: normal;
  color: base.$mainThemeColour;
}

header {
  text-shadow: none;
}

.results_header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  .description {
    font-style: italic;
    margin-bottom: 1rem;
  }
}

h1 {
  margin: 0.1em 0 0.2em 0;
  padding: 0.1em 1.5em;
  color: base.$mainThemeColour;
  border-radius: 25px;
  box-shadow: 4px 4px 8px base.$shade;
  background-color: base.$bgColour6;
}

#quiz_try, .view_attempt, .c_b {
  @include button-style-2;
}

#quiz_try:hover, .view_attempt:hover, .c_b:hover {
  transform: scale(1.1);
}


.copy_input {
  @include copy-text-styling;
  font-weight: 400;
}


.page_foot {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.result_summary {
  margin: 0.1em 0 0.2em 0;
  padding: 0.5em 1.5em;
  color: base.$mainThemeColour;
  border-radius: 25px;
  box-shadow: 4px 4px 8px base.$shade;
  background-color: base.$bgColour3;
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2px;
  margin-bottom: 1rem;
  text-shadow: none;
  font-weight: 500;

}

.results_container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 0vh auto 5vh auto;
  padding-top: 1em;
  width: 100%;
  height: 40vh;
}

.quiz_container {
  height: inherit;
  overflow: auto;
  margin: 1em;
  padding: 1em;
}

.by_answer {
  width: 60%
}

.by_attempt {
  width: 40%
}

li.correct {
  background-color: base.$correctColour;
}

.attempt_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  border-radius: 25px;
  width: 100%;
  margin: 0 auto 1rem;
  box-shadow: 4px 4px 8px base.$shade;
  overflow-wrap: break-word;
  background-color: base.$private;

  .attempt_info {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: auto;

    li {
      padding: 0.25em 0;
    }
  }

  .attempt_time::first-letter {
    text-transform: capitalize;
  }
}

@media (max-width: 1440px) {
  .results_container {
    flex-flow: column;
  }

  .by_answer, .by_attempt {
    height: 50%;
    width: 100%;
    margin: 0.25em
  }
}

