@use 'base';
@import 'base';

.quiz_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    width: 95%;
    margin: 0 auto 1rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 3px 3px 6px base.$shade;
    overflow-wrap: break-word;
    background-color: base.$bgColour6;



    header, footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.8em 2em;
      align-items: center;
    }

    header {
      background-color: base.$bgColour7;
      color: base.$mainThemeColour;
      border-radius: inherit;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    a {
      text-decoration: none !important;
      color: inherit !important;
      width: 100%;
      border-radius: inherit;
    }

    .quiz_description {
      padding: 1em 2em;
      font-style: italic;
    }
}

.quiz_card:hover {
    box-shadow: 10px 10px 10px base.$shade;
}


//specified specific styling contraints for the rendering on the account 'my quizzes' page;
.info_body {

header {
  height: 15%;
  font-size: 0.9em;
}

.quiz_card_main {
  width: 100%;
  border-radius: inherit;
  align-items: center;
}

button {
  @include button-style-2;
}

.footer_left {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.quiz_stats {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1em 1.5em;
  margin: 0 auto;
}

.quiz_links {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 0em 3em 0.5em 3em;

  button {
    display: flex;
    align-items: center;
    padding: 0.4em;
  }

}

.score, .questions, .attempts {
  background-color: base.$platinum;
  border: 5px solid base.$platinum;
}

.results {
  background-color: base.$green;
  border: 5px solid base.$green;
}

.delete {
  background-color: base.$red2;
  border: 5px solid base.$red2;
}

.public {
  background-color: base.$private;
  border: 5px solid base.$private;
}

.copy_quiz_btn {
  display: inline-flex;
  align-items: center;
}

.results:hover, .public:hover, .delete:hover, .copy_quiz_btn:hover, .copy_results_btn:hover {
  @include button-hover;
  box-shadow: 5px 5px 5x base.$shade;
}

.copy_input {
  @include copy-text-styling;
}

footer {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
}

}
