@use 'base';
@import 'base';

main {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  margin: 2vh auto 2vh auto;
  width: 100%;
  padding: 1em;
  height: 78vh;
}

.main_buttons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3em;

  button {
      border: none;
      border-radius: 6px;
      color: white;
      font-weight: normal;
      transition: all 0.2s ease-in-out;
      box-shadow: 2px 2px 4px #31313b7f;
      padding: 0.7em;
      font-size: 1.15em;
  }

  button:hover {
    transform: scale(1.1);
  }

  .quizzes_btn, .results_btn, .selected {
    @include button-style-2;
  }

}

.info_container {
  @include container-style;
  margin: 2vh auto;

  h1 {
    width: 100%;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em 0;
    background-color: base.$bgColour3;
    box-shadow: 0px 4px 6px base.$shade;
    color: base.$mainThemeColour;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .info_body {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    height: calc(100vh - base.$navHeight - base.$footHeight);
    padding: 1em 1em 0 1em;
  }
  .info_body::-webkit-scrollbar {
    display: none;
  }
}

.info_container:hover {
  box-shadow: 5px 5px 10px base.$secondaryThemeColour;
}

.null {
  width: 100%;
  text-align: center;
  margin-top: 15%;
  font-size: 2em;
  font-weight: bolder;
  color: #5969de56;
}
